* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}
.wrapper {
  width: 960px;
  height: auto;
  background: url(images/img2.jpg);
}
.container {
  padding-left: 20px;
  padding-right: 20px;
}
header {
  display: flex;
  background-color: rgb(237, 222, 237);
  justify-content: space-between;
  padding-top: 8px;
  padding-bottom: 8px;
}
.menu li {
  float: left;
}
.menu li a {
  text-decoration: none;
  padding: 10px 15px;
  color: rgb(119, 55, 153);
  font-weight: bold;
}
.contact {
  color: rgb(60, 84, 249);
}
.menu {
  list-style: none;
}
.search {
  margin-right: 5px;
}
.search > button {
  background-color: rgb(6, 155, 255);
  color: white;
}
.seacrh-lable {
  color: red;
}
.logo > img {
  width: 100%;
  height: 150px;
}
.main {
  display: flex;
  justify-content: space-between;
}
.center {
  background-color: rgb(185, 227, 234);
}
.center .text {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.text > div:first-child {
  text-align: justify;
  text-indent: 20px;
  width: 300px;
  padding-left: 15px;
}
.text .second {
  margin-left: 30px;
  text-align: justify;
  width: 270px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 6px;
  box-shadow: 2px 4px 10px rgb(71, 68, 68);
  margin-right: 20px;
}
.button {
  border-radius: 6px;
  margin-top: 40px;
  margin-left: 50px;
  padding: 2px;
  border: 1px solid rgb(221, 221, 221);
  box-shadow: 2px 4px 10px rgb(71, 68, 68);
}
.second #email,
#name {
  margin-bottom: 8px;
  border-radius: 10px;
  padding: 3px 0px 3px 5px;
  width: 250px;
}
.second .information {
  position: absolute;
  transform: translate(8px, -10px);
}
form {
  margin-top: 10px;
  padding-left: 10px;
}
.center > div:first-child {
  font-weight: bold;
  color: red;
  text-align: center;
  font-size: large;
  padding-top: 5px;
  padding-bottom: 20px;
}
.right {
  background-color: rgb(255, 255, 255);
}
.right img {
  margin-top: 5px;
  width: 300px;
  height: 90px;
  box-shadow: 4px 4px 6px rgb(71, 68, 68);
}
.right p {
  color: red;
  font-weight: bold;
  text-align: center;
  background-color: rgb(255, 255, 255);
  padding-bottom: 5px;
  border-bottom: 3px solid rgb(227, 185, 185);
}
footer {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-indent: 20px;
  padding-right: 20px;
  background-color: rgb(204, 204, 102);
}
